a:link { color: #Ocf }
a:visited { color: #c90 }
a:hover { color: #39f }
a:active { background-color: #933 }
::selection { background-color: blue }
::-moz-selection { background-color: blue }
/* a::selection { color: green }
a::-moz-selection { color: green } */

